body::-webkit-scrollbar {
  display: none;
}

.panel::-webkit-scrollbar {
  display: none;
}

.column {
  border: solid 1px rgb(43, 53, 24);
  border-radius: 10px;
}

.panel {
  padding: 1em;
  margin: 1em;
  height: 60vh;
  overflow: scroll;
}

.panel-block {
  display: flex;
  justify-content: space-between;
}

.panel-block > .controls > *{
  margin: 0 0.5em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1em;
  margin: 0.1em;
}

.field > input {
  width: 60%;
}

.endpoint {
  padding: 1em;
  margin: 1em;
}

.videoselector {
  padding: 0.2em;
  margin: 0.2em;
}

.details {
  padding: 1em;
  margin: 1em;
}